
body {
  border: 30px solid white;
}

.hero {
  border-top-left-radius: 2%;
  border-top-right-radius: 2% ;
  width: 95vw;
  height: 92vh;
  background: url("b1.jpg") center no-repeat;
  background-size: cover;

}

img {
  width: 8%;
  height: 8%;
  position: absolute;
  top: 5%
}

div.nav {
  top: 8%;
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  right: 8%;

  a {
    font-family: "Nova slim";
    font-size: 1.2rem;
    margin-left: 2.5%;
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: line-through;
      animation: strike 0.2s linear;
      text-decoration-color: white;
    }
    @keyframes strike {
      from {
        text-decoration-color: transparent;
      }
      to {
        text-decoration-color: white;
      }
    }
  }
}

.columns{
  padding-top: 5%;
  background-color: lightgray;

.is-half {
  padding-top: 5%;
  padding-left: 10%;
  font-family: "Nova slim";
  font-size: 4rem;
}

}


